<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Hotel Natoma - San Francisco Museums</title>
      <!--
         Hotel Natoma San Francisco Museums web page
         Filename: museums.html
      
         Author:   
         Date:     
         HTML5 and CSS3 Illustrated Unit K, Independent Challenge 3
      -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <script src="modernizr.custom.28018.js"></script>
      <link href='http://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="styles.css">
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="icon" sizes="192x192" href="images/android.png">
   </head>
   <body>
      <div class="container">
         <p class="skipnavigation"><a href="#contentstart">Skip navigation</a></p> 
         <header>
            <h1><a href="index.html"><img src="images/logo.gif" width="368" height="65" alt="Hotel Natoma"></a></h1>
         </header>
         <nav class="sitenavigation">
            <ul>
               <li><a href="index.html">Home</a></li>
               <li><a href="nearby.html">What&#39;s Nearby</a></li>
               <li><a href="museums.html">Museums</a></li>
               <li><a href="greensf.html">Green SF</a></li>
               <li><a href="reserve.html">Reservations</a></li>
            </ul>
         </nav>
         <article>
            <h2>San Francisco Museums</h2>
            <figure>
               <img src="images/tiedye.jpg" width="450" height="300" alt="colorful spiral tie dye print">
               <figcaption>Haight-Ashbury Museum of Psychedelic Art and History</figcaption>
            </figure>
            <p class="culture">Alcatraz Island</p>
            <p class="art">Asian Art Museum of San Francisco</p>
            <p class="culture">Beat Museum</p>
            <p class="culture">Cable Car Museum</p>
            <p class="culture">California Academy of Sciences</p>
            <p class="culture">California Historical Society</p>
            <p class="art">California Palace of the Legion of Honor</p>
            <p class="art">Cartoon Art Museum</p>
            <p class="kids">Children&rsquo;s Creativity Museum</p>
            <p class="culture">Chinese Culture Center</p>
            <p class="culture">Chinese Historical Society of America Museum and Learning Center</p>
            <p class="culture">Contemporary Jewish Museum</p>
            <p class="art">de Young Museum</p>
            <p class="kids">Exploratorium</p>
            <p class="culture">Fort Point National Historic Site</p>
            <p class="culture">GLBT Historical Society Museum</p>
            <p class="culture">Haight-Ashbury Museum of Psychedelic Art and History</p>
            <p class="culture">International Museum of Women</p>
            <p class="culture">Mission Cultural Center for Latino Arts</p>
            <p class="culture">Museo ItaloAmericano</p>
            <p class="art">Museum of Craft and Folk Art</p>
            <p class="art">Museum of Performance &amp; Design</p>
            <p class="culture">Museum of Russian Culture</p>
            <p class="culture">Museum of the African Diaspora</p>
            <p class="art">Mus&eacute;e M&eacute;canique</p>
            <p class="art">New Langton Arts</p>
            <p class="culture">North Beach Museum</p>
            <p class="culture">Pacific Heritage Museum</p>
            <p class="kids">Randall Museum</p>
            <p class="art">San Francisco Arts Commission Gallery</p>
            <p class="culture">San Francisco Fire Department Museum</p>
            <p class="culture">San Francisco Maritime National Historical Park</p>
            <p class="culture">San Francisco Museum and Historical Society</p>
            <p class="art">San Francisco Museum of Craft &amp; Design</p>
            <p class="art">San Francisco Museum of Modern Art</p>
            <p class="culture">San Francisco Railway Museum</p>
            <p class="culture">USS Pampanito</p>
            <p class="culture">Walt Disney Family Museum</p>
            <p class="art">Wattis Institute for Contemporary Arts</p>
            <p class="culture">Wax Museum at Fisherman&rsquo;s Wharf</p>
            <p class="art">Yerba Buena Center for the Arts</p>
         </article>
         <footer>
           <p>568 Natoma St. &#8226; San Francisco, CA 94103 &#8226; (415) 555-8378</p>
         </footer>
      </div>
   </body>
</html>