<!DOCTYPE html>
<html>
   <head>
      <title>Spotted Wren Garden Center - Summer Hours</title>
   </head>
   <body>
      <h1>Spotted Wren Garden Center</h1>
      <p>For your year-round garden and yard needs</p>
      <h2>Summer Hours</h2>
      <p>Mon: 8am - 8pm</p>
      <p>Tue: 8am - 8pm</p>
      <p>Wed: 8am - 5pm</p>
      <p>Thu: 8am - 8pm</p>
      <p>Fri: 8am - 8pm</p>
      <p>Sat: 9am - 6pm</p>
      <p>Sun: 11am - 6pm</p>
      <p>548 N. 58th St. - Omaha, NE 68132 - (402) 555-9736</p>
   </body>
</html>