<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Hotel Natoma - What&rsquo;s Nearby</title>
      <!--
         Hotel Natoma What's Nearby page
         Filename: nearby.html
      
         Author:   
         Date:     
         HTML5 and CSS3 Illustrated Unit G, Independent Challenge 3
      -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <script src="modernizr.custom.40753.js"></script>
      <link href='http://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="styles.css">
   </head>
   <body>
      <div class="container">
         <p class="skipnavigation"><a href="#contentstart">Skip navigation</a></p> 
         <header>
            <h1>Hotel Natoma</h1>
         </header>
         <nav class="sitenavigation">
            <p><a href="index.html">Home</a></p>
            <p><a href="nearby.html">What&#39;s Nearby</a></p>
            <p><a href="museums.html">Museums</a></p>
            <p><a href="reserve.html">Reservations</a></p>
         </nav>
         <article>
            <h2 id="contentstart">What&rsquo;s Nearby</h2>
            <h3 id="aam">Asian Art Museum</h3>
            <p>The museum features a stunning permanent collection along with regular special exhibits. Themed galleries include China, Korea, Japan, South Asia, The Persian World and West Asia, Southeast Asia, and The Himalayas and the Tibetan Buddhist World.</p>
            <h3 id="cityhall">City Hall</h3>
            <p>Enjoy the architecture of this centerpiece of Civic Center, both inside and out. You can also take a guided tour, or you can just explore the building on your own.</p>
            <h3 id="ccplaza">Civic Center Plaza</h3>
            <p>Lined with sycamores, the plaza affords a great view of City Hall. It&rsquo;s also a great place for a picnic on a sunny day.</p>
            <h3 id="unplaza">United Nations Plaza</h3>
            <p>Decorated with memorials to the founding of the UN in San Francisco, the plaza hosts farmers&rsquo; markets and swap meets most days.</p>
            <h3 id="cablecar">Cable Car Turnaround</h3>
            <p>Watch cable car operators keep century-old technology alive, turning the cars by hand. You can also buy a ticket here and hop a ride on these San Francisco icons.</p>
         </article>
         <footer>
           <p>564 Natoma St. &#8226; San Francisco, CA 94103 &#8226; (415) 555-8378</p>
         </footer>
      </div>
   </body>
</html>